*{
    margin: 0%;
    box-sizing : border-box;
    
}

.login{
  
text-align: center;
display: grid;
grid-template-columns: auto ;
justify-content: center;
margin-top: 10%;
}
.login_inside{
    border: 1px solid rgb(156, 30, 30);
    box-shadow: 0px 0px 10px black; 
    padding: 8% 0%;
}

.login_user{
    border-top: 1px solid rgb(156, 30, 30);
    border-bottom: 1px solid rgb(156, 30, 30);
    margin: 8% 25%;
    padding: 2% 0%;
}
.login_pass{
    border-top: 1px solid rgb(156, 30, 30);
    border-bottom: 1px solid rgb(156, 30, 30);
    margin: 8% 25%;
    padding: 2% 0%;
}

input{
border:  none;
border-bottom: 1px solid black;

}

.login_login input{
    padding: 3px 75px;
    border-radius: 10px;
    background-color: rgb(219, 23, 23);
}


a{
    padding: 2px 20px;
    border-radius: 10px;
    background-color: rgb(219, 23, 23);
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: blanchedalmond;
}
.login_login input:hover{
    background-color: blanchedalmond;
}
@media screen and (max-width: 860px){
    .login{
        margin-top: 50%;
        width: 100%;
    }
}